<div class="max-w-7xl mx-auto px-4">
  <h2 class="text-2xl sm:text-4xl text-green-900 font-bold mb-6 text-center border-b border-green-300 pb-4">結果発表</h2>

  <%= render partial: "result_summary", locals: {
        total_count: @total_count,
        correct_count: @correct_count,
        genre_accuracies: @genre_accuracies,
        weakest_genre: @weakest_genre
      } %>

  <% @result.each_with_index do |res, i| %>
    <% is_correct_answer = (res[:selected] == res[:correct]) %>

    <div class="mb-10 p-4 border border-gray-200 rounded-lg shadow-sm">
      <h3 class="text-2xl font-semibold mb-2 flex items-center space-x-3">
        <span>第<%= i + 1 %>問</span>
        <% if is_correct_answer %>
          <span class="text-green-800 bg-green-200 px-2 py-1 rounded text-sm font-bold">正解</span>
        <% else %>
          <span class="text-red-800 bg-red-200 px-2 py-1 rounded text-sm font-bold">不正解</span>
        <% end %>
      </h3>

      <p class="mt-6 mb-4 text-xl font-bold"><%= res[:question] %></p>

      <%= render partial: "choice_list", locals: { choices: res[:choices], selected: res[:selected], correct: res[:correct] } %>

      <%= render partial: "toggle_explanation", locals: { explanation: res[:explanation], index: i } %>
    </div>
  <% end %>

  <div class="mt-10 text-center">
    <%= link_to "トップに戻る", root_path, class: "bg-green-700 text-white px-6 py-3 rounded-lg shadow hover:bg-green-600 transition font-semibold" %>
  </div>
</div>