<div class="max-w-7xl mx-auto px-4">
  <h1 class="text-center text-3xl font-bold text-green-900 mb-2 border-b border-green-300 pb-2"><%= @word.title %></h1>

  <h2 class="text-center text-green-800 text-xl font-semibold mb-4 pb-2">
    <%= @sample.short_description %>
  </h2>

  <div class="mt-12 mb-6 space-y-6">
    <%= double_linebreak_simple_format(@sample.description) %>
  </div>

  <% if @sample.sample_text.present? %>
    <h3 class="text-green-700 font-semibold mb-3 border-l-4 border-green-500 pl-3">
      文面サンプル
    </h3>

    <%= split_sample_text_boxes(@sample.sample_text) %>
  <% end %>

  <h3 class="text-green-700 font-semibold mb-3 border-l-4 border-green-500 pl-3">
    関連タグ
  </h3>

  <div class="mb-6">
    <% @sample.tags.each do |tag| %>
      <%= link_to tag.name, samples_path(q: { tags_name_eq: tag.name }), class: "bg-green-100 text-green-800 text-sm font-semibold px-3 py-1 rounded mr-2 hover:bg-green-200" %>
    <% end %>
  </div>

  <div class="mt-8 text-right">
    <%= link_to "一覧に戻る", samples_path, class: "text-green-700 hover:underline font-semibold" %>
  </div>
</div>